@model EditUserByAdminViewModel

<form method="post" asp-area="admin" asp-controller="user" asp-action="update">
    <div class="row mb-3">
        <div class="col-12">
            <h1>Изменение данных</h1>
        </div>
    </div>
    <div class="row mb-3">
        <label for="Name" class="col-sm-2 col-form-label">Имя</label>
        <div class="col-sm-4">
            <input type="text" asp-for="Name"  id="Name"class="form-control" >
         </div>
         <span style="color:red" asp-validation-for="Name"></span>
    </div>
     <div class="row mb-3">
        <label for="phone" class="col-sm-2 col-form-label">Телефон</label>
        <div class="col-sm-4">
            <input type="tel" pattern="+[7]{1} [0-9]{3} [0-9]{2} [0-9]{2}" asp-for="Phone" id="phone"class="form-control" >
         </div>
         <span style="color:red" asp-validation-for="Phone"></span>
    </div>
    <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-4">
            <input type="text" asp-for="Email" id="email"class="form-control" >
         </div>
         <span style="color:red" asp-validation-for="Email"></span>
    </div>
     <div class="row mb-3" hidden>
        <label for="role" class="col-sm-2 col-form-label">Роль</label>
        <div class="col-sm-4">
            <select class="form-control"  asp-for="RoleName" asp-items="ViewBag.Roles">
            </select>
         </div>
         <span style="color:red" asp-validation-for="RoleName"></span>
    </div>
      <div class="row mb-3">
        <div class="col-sm-4">
            <input type="text" hidden asp-for="Id"id="id"class="form-control" >
         </div>
    </div>
   <button class="btn btn-success" type="submit">Изменить</button>
</form>